body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    background: #fcfcf9;
    padding: 50px 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}

#chats {
    text-align: left;
}

#main {
    text-align: center;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding-left: 0;
    padding-top: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
    resize: both;
    border-radius: 10px;
    outline: none;
    
}

.submit:hover {
    cursor: pointer;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #F6F6F6;
    border-radius: 10px;
    border: 2px solid lightblue;
}

.chat .username {
    font-weight: 800;
}

.username {
    font-size: 1.15em;
}

.username:hover {
  text-decoration: underline;
  cursor: pointer;
  color: darkgray;
}

.chat:hover {
    background-color:lightcyan;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    color: black;
    background-color: lavender;
    border: 2px solid mediumpurple;
}

.friend .username {
    font-weight: bold
}

.roomSelect {
    width: 10em;
    outline: none;
}

#addroom {
    outline: none;
    border-radius: 10px;
    width: 15em;
}

.createdAt {
    display: flex;
    justify-content: flex-end;
    color: darkgray;
    font-size: .75em;

}

h1 {
    text-align: center;
}

button:hover {
    cursor: pointer;
}